{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    ["@babel/syntax-class-properties"],
    ["@babel/syntax-object-rest-spread"],
    ["@babel/proposal-class-properties"],
    ["@babel/proposal-object-rest-spread"],
    ["react-hot-loader/babel"]
  ]
}
