.status {
  .userName {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
  }

  .userName:hover {
    font-size: 20px;
    color: goldenrod;
    font-weight: 650;
    border-bottom: 2px solid #fff;
  }

  ul {
    list-style: none;

    li > a {
      color: goldenrod;
      line-height: 30px;
      font-size: 14px;
    }

    li:hover {
      font-weight: 650;
    }
  }
}
