.login {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/images/entry-background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  .login-form {
    width: 500px;
    padding: 40px 10px 10px 10px;
    height: max-content;
    background-color: #ddd;
    opacity: 0.95;
    h1.form-title {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 15px;
    }
    .grid-container {
      display: grid;
      grid-template-columns: [col-1] 30% [col-2] 70% [col-end];
      grid-template-rows: 40px 40px 40px;
      .grid-title {
        text-align: right;
        margin-right: 15px;
        font-weight: 500;
        padding-top: 5px;
      }
      .grid-field {
        width: 85%;
        display: flex;
        label {
          font-size: 13px;
        }
      }
    }
    .foot-buttons {
      text-align: center;
      button {
        width: 80px;
      }
      button:first-child {
        margin-right: 20px;
      }
    }
    .v-center {
      position: relative;
      top: 50%;
      margin-top: -50%;
    }
    .register-link {
      width: 70%;
      float: right;
      font-size: 13px;
      margin-top: 1rem;
    }
  }
}
